.poster-username{
  display:none;
}
.display-grid-gallery{
  .poster-username{
    display: inline-block;
  }
  .topic-list{
    thead{
      display: none;
    }

    tbody tr{
      display: inline-block;
      position:relative;
      width: auto;
      height: auto;
    }

    .posters{
      display: none;
    }

    .posts-map{
      display: none;
    }

    .views{
      display: none;
    }

    .age{
      display: none;
    }

    .main-link{
      position: relative;
      padding: 0px;
      width: 100%;
      height: 100%;
      display: block;
    }

    .topic-list-item:hover {
      .main-link {
        .topic-details{
            display:initial;

            .topic-title .title{
              color:#ffffff;
            }
        }
      }

      .posters {
        display: initial;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        text-align: right;

        a:nth-of-type(n+2) {
          display: none;
        }
      }
    }

    .topic-thumbnail{
        padding: 0px;
        margin-right:10px;
        margin-bottom:10px;
    }

    .topic-details{
      position: absolute;
      width:calc(100% - 10px);
      left:0px;
      padding: 5px;
      display: none;
    }

    .category{
      display: none;
    }

    .discourse-tags{
      display: none;
    }

    td .pull-left{
      display: none;
    }
  }
  &.tags-page .grid-view-toggle{
    margin-bottom: 5px;
  }
  .topic-list .posters>a {
    float: right;
    color: #ffffff;
    .poster-username{
      padding-right: 5px;
    }
  }

  .topic-list-item-separator{
    display: none;
    margin-right:10px;
  }
  .topic-list-item td:first-child, .topic-post {border-left:0px;}
  .topic-list-item:nth-child(6n + 1) .topic-thumbnail{
    margin-right:0px;
    img {
        width:175px !important;
    }
}
.anon .display-grid-gallery{
  .grid-view-toggle{
    display: none;
  }
}