.display-grid-gallery{
  .topic-list{
    thead{
      display: none;
    }

    tbody tr{
      display: inline-block;
      position:relative;
      width: 32%;
      height: 213px;
    }

    .posters{
      display: none;
    }

    .posts-map{
      display: none;
    }

    .views{
      display: none;
    }

    .age{
      display: none;
    }
    .main-link{
      position: relative;
      padding: 0px;
      width: 100%;
      height: 100%;
      display: block;
    }
    .topic-details{
      position: absolute;
      width:100%;
    }
  }
}