.display-grid-gallery{
  .topic-list{
    thead{
      display: none;
    }

    tbody tr{
      display: inline-block;
      background-image: url(https://cdn.cgsociety.org/t/g37/363437/17740446_orig.jpg);
      width: 32%;
      height: 213px;
    }

    tbody tr .posters{
      display: none;
    }

    tbody tr .posts-map{
      display: none;
    }

    tbody tr .views{
      display: none;
    }

    tbody tr .age{
      display: none;
    }
  }
}