<section class='field'>
  <div class="enable-grid-view">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_grid_view}}
      {{i18n 'grid_gallery.enable_grid_gallery_for_category'}}
    </label>
  </div>
</section>
